nav.navbar.navbar-light.bg-light.navbar-expand-md
    a.navbar-brand(href="/")
        img(src="images/logo.png", alt="V" height="30" class="d-inline-block align-top")
        span issne
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon

    div(class="collapse navbar-collapse" id="navbarSupportedContent")
        ul.navbar-nav.mr-auto
            li.nav-item
                a.nav-link(href="/") Home
            li.nav-item
                a.nav-link(href="/register") Register
            li.nav-item
                a.nav-link(href="/login") Login

