.form-group {
    label {
        width: 100%;
    }
}

.btn {
    &.google {
        background-color: $google;
        border: none;
    }
    &.twitter {
        background-color: $twitter;
        border: none;
    }
    &.facebook {
        background-color: $facebook;
        border: none;
    }
}
