$google:   #DB4437!default;
$twitter:  #1DA1F2!default;
$facebook: #3B5998!default;

$colors: () !default;
$colors: map-merge(
  (
    "google":       $google,
    "facebook":      $facebook,
    "twitter":       $twitter,
  ),
  $colors
);

$primary:       #2B3134 !default;
$secondary:     #FF6700 !default;
$success:       #caffa9 !default;
$info:          #c9f3f6 !default;
$warning:       #fffb9a !default;
$danger:        #FF2E2E !default;
$light:         #ffffee !default;
$dark:          #05003a !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

$enable-rounded:   false;
