$google:   #DB4437!default;
$twitter:  #1DA1F2!default;
$facebook: #3B5998!default;

$primary:       #131c21 !default;
$secondary:     #7e0b2e !default;
$success:       #caffa9 !default;
$info:          #c9f3f6 !default;
$warning:       #fffb9a !default;
$danger:        #FF2E2E !default;
$light:         #ffffee !default;
$dark:          #05003a !default;
