{% extends "_shared/layout.html" %}

{% block style %}
<link rel="stylesheet" href="{{cdn}}/dist/app.auth.css">
<link rel="stylesheet" href="{{cdn}}/dist/app.css">
{% endblock%}

{% block content %}
<div id="app"></div>
{% include "_partials/loading.html" %}
{% endblock %}

{% block script %}
{% include "_partials/common-script.html" %}
<script src="{{cdn}}/dist/app.bundle.js"></script>
<script src="{{cdn}}/dist/app.auth.bundle.js"></script>
<script src="{{cdn}}/dist/vendor.app.bundle.js"></script>
<script src="{{cdn}}/dist/vendor.app.auth.bundle.js"></script>
{% endblock %}
