extends _layout/layout

block content
    include shared/navbar
  
    .jumbotron
        h1.display-4 Vissne
        p.lead This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
        hr.my-4
        p This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p
        p.lead
            a Learn More
