extends _layout/layout

block content
    .container-fluid
        .row.justify-content-md-center
            .col-12.col-sm-12.col-md-5.col-lg-4.col-xl-3
                .logo
                    image(src="images/logo.png" alt="Vissne")
        
                form
                    .form-group
                        label(for="emailInput") Email
                        input(type="email" name="email" class="form-control" id="emailInput")

                    .form-group
                        label(for="passwordInput") Password
                        input(type="password" name="password" class="form-control" id="passwordInput")
                    
                    .form-group
                        .form-check
                            input(type="checkbox" name="remember" class="form-check-input" id="rememberMeCheck")
                            label(class="form-check-label" form="rememberMeCheck") Remember Me

                    button(type="button" id="loginButton" class="btn btn-primary btn-block") Login
                    
                .row.justify-content-between.mt-2
                    .col-6
                        a(href="/register") Register
                    .col-6.text-right
                        a(href="/forgot-password") Forgot Password?
    
    .alert.alert-danger.alert-dismissible.fade.top-alert(role="alert")
        strong Wrong Email or password.
        button(type="button" class="close" aria-label="Close" id="closeButton")
            span(aria-hidden="true") &times;
