extends _layout/layout

block content
    .columns.is-mobile.is-centered
        .column.is-3
            .logo
                image(src="images/logo.png" alt="Vissne")
       
            form
                .field
                    label.label Email
                    .control.has-icons-left.has-icons-right
                        input(type="email" name="email" class="input" id="emailInput")
                        span.icon.is-small.is-left
                            i.fas.fa-envelope

                .field
                    label.label Password
                    .control.has-icons-left.has-icons-right
                        input(type="password" name="password" class="input" id="passwordInput")
                        span.icon.is-small.is-left
                            i.fas.fa-envelope
                
                .field
                    .control
                        label.checkbox
                            input(type="checkbox" name="remember")
                            span Remember Me
                
                button(type="button" id="loginButton" class="button is-primary is-fullwidth") Login

            span You hava no account?
                a(href="/register") Register Here
    
    .notification.is-danger.error-notficication
        button.delete
        p Wrong Email or password.
