@import '../../assets/scss/variables';

.auth-form {
    margin-top: 30%;
}

.input-group-text {
    background-color: transparent;
}

.social-button {
    position: relative;

    &.facebook {
        background-color: $facebook;
    }
    &.google {
        background-color: $google;
    }
}

.social-button-icon {
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 24px;
}
