@import '../../../../assets//scss/variables';

.filter-input {
    border: 1px solid $lightBlue;
    color: white;
    background-color: transparent;
    font-weight: bold;

    .selected {
        background: $lightBlue;
        font-weight: bold;
        font-style: italic;
        color: $themeDark;
    }

    &:focus {
        color: $lightBlue;
        background-color: transparent;
        border-color: $lightBlue;
        outline: 0;
        box-shadow: none;
    }
}

.filter-input-button {
    border: 1px solid $lightBlue;
    color: white;
}
