.navbar {
    background-color: transparent!important;
    font-weight: bold;
    
    .nav-item {
        &:hover {
            background-color: transparent;
            color: blueviolet;
        }
    }
}
