.movie-card {
    position: relative;
    
    .rating-tag {
        position: absolute;
        color: black;
        top: 0;
        right: 0;
        background-color: #F5C518;
        border-radius: 0;
        height: 1.6rem;
        width: 2rem;
        font-size: 16px;
        border-bottom-left-radius: 10px;
    }
}
